* {
    box-sizing: border-box;
}

/*Set background color as well as height and width for each section*/

body {
    margin: 0;
    padding: 0;
}

.header,
.footer {
    background-color: #1f2937;
    color: #fff;
    width: 100%;  
}

.header {
    height: 400px;
}


.section__two {
   background-color: #fff;
   width: 100%;
   height: 300px; 
}

.section__three {
    background-color: #E5E7EB;
    width: 100%;
    height: 200px;
}

.section__four {
    background-color: #fff;
    width: 100%;
    height: 200px; 
 }

.footer {
    height: 100px;
    width: 100%;
}

/* Set width and height of each elements and divs */
.hero__image {
    width: 200px;
    height: 100px;
}

.main__image {
    height: 100px;
    width: 100px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

/*Style header section*/
.logo__text {
    font-size: 24px;
    color: #F9FAF8;
    font-family: sans-serif;
}

.nav__text {
    font-size: 18px;
    color: #E5E7EB;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero__text {
    font-size: 48px;
    font-weight: 800;
    margin:;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.body__heading {
    font-size: 36px;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.quote__text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;

}

.quote__reference {
   color: #E5E7EB; 
}

.div__cta--blue {
    background-color: #3882f6;
    height: auto;
    margin: 0 200px 0 200px;
    border-radius: 10px;
}

/* Position elements using flexbox and other tools */
.ul__nav-bar {
    list-style: none;
    display: flex;
}


.head__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav__text {
    margin: 10px;
}

.hero__section {
    display: flex;
    align-items: center;
    padding: 10px;
}

.left__card {
    flex-wrap: wrap;
    width: 100%;
}

.right__card {
    width: 100%;
}


